<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myddl.dao.UserCourseMapper" >
  <resultMap id="BaseResultMap" type="myddl.entity.UserCourse" >
    <id column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="course_detail" property="courseDetail" jdbcType="VARCHAR" />
    <result column="icon_link" property="iconLink" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    course_id, user_id, course_name, course_detail, icon_link
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_course
    where course_id = #{courseId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_course
    where course_id = #{courseId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="myddl.entity.UserCourse" >
    insert into user_course (course_id, user_id, course_name, 
      course_detail, icon_link)
    values (#{courseId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{courseName,jdbcType=VARCHAR}, 
      #{courseDetail,jdbcType=VARCHAR}, #{iconLink,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="myddl.entity.UserCourse" >
    insert into user_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="courseDetail != null" >
        course_detail,
      </if>
      <if test="iconLink != null" >
        icon_link,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseDetail != null" >
        #{courseDetail,jdbcType=VARCHAR},
      </if>
      <if test="iconLink != null" >
        #{iconLink,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="myddl.entity.UserCourse" >
    update user_course
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseDetail != null" >
        course_detail = #{courseDetail,jdbcType=VARCHAR},
      </if>
      <if test="iconLink != null" >
        icon_link = #{iconLink,jdbcType=VARCHAR},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="myddl.entity.UserCourse" >
    update user_course
    set user_id = #{userId,jdbcType=BIGINT},
      course_name = #{courseName,jdbcType=VARCHAR},
      course_detail = #{courseDetail,jdbcType=VARCHAR},
      icon_link = #{iconLink,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=BIGINT}
  </update>
</mapper>